<!-- <section class="section-status">
    <div class="container">
        <p id="status-label">상태 창입니다.</p>
    </div>
</section> -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://kit.fontawesome.com/02656a2617.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="/javascripts/default.js"></script>