{{> header}}
<section class="sectionA">
    <div class="container">
        <h1>문제가 생겼어!</h1>
        <h2>{{errorCode}}</h2>
        <p>{{errorMessage}}</p>
    </div>
</section>

{{> footer}}
</body>
</html>