<%-include('./partials/header.ejs')%>
    <section class="sectionA">
      <div class="container">
        <h4>오늘의 체온이 높게 나온사람</h4>
        <table>
          <tr>
            <th>이름</th>
            <th>소속</th>
            <th>체온</th>
          </tr>
          <tr>
            <td>홍길동</td>
            <td>숭실대학교 1학년</td>
            <td>36.5</td>
          </tr>
        </table>
      </div>
    </section>
<%-include('./partials/tail.ejs')%>
</body>
</html>
