<%-include('./partials/header.ejs')%>
    <section class="sectionA">
      <div class="container">
        <h4>Coming Soon...</h4>
      </div>
    </section>
<%-include('./partials/tail.ejs')%>
</body>
</html>
