<%-include('./partials/header.ejs')%>
<section class="sectionA">
  <div class="container">
    <div class="small-container">
      <h3 id="sub-title"><i class="fas fa-list"></i> &nbsp사용자 정보</h3>
      <button id="edit-button"><i class="fas fa-plus"></i></button>
    </div>
    <table id="user-table">
      <tr>
        <th>학번/아이디</th>
        <th>이름</th>
        <th>NFC 카드번호</th>
        <th>소속</th>
        <th class="editor">삭제 선택</th>
      </tr>
      <tr>
        <td> <button id="add-button"><i class="fas fa-user-plus"></i></button></td>
      </tr>
    </table>
    <button class='editor-converse' id="save-button">저장</button>
    <button class='editor' id="delete-button">삭제</button>
  </div>
</section>
<%-include('./partials/tail.ejs')%>
<script>
  /*get data*/
  $.ajax({
    url: '/rest/user/withouttemp',
    type: 'GET',
    dataType: 'json',
    success: (result) => {
      if (result.result) {
        let table = document.getElementById('user-table');
        /*draw table*/
        result.content.forEach(element => {
          let row = table.insertRow(2);
          let cell0 = row.insertCell(0);
          let cell1 = row.insertCell(1);
          let cell2 = row.insertCell(2);
          let cell3 = row.insertCell(3);
          let cell4 = row.insertCell(4);
          cell0.innerHTML = element['id'];
          cell1.innerHTML = element['name'];
          cell2.innerHTML = element['nfcid'];
          cell3.innerHTML = element['belong'];
          cell4.className = 'editor';
          cell4.innerHTML = `<input type='checkbox' class='delete-checkbox' id='${element['nfcid']}'>`;
        });
        /*set status*/
        // label.innerHTML = '데이터를 가져왔습니다';
      } else {
        // label.innerHTML = '데이터를 가져오는 동안 오류가 발생했습니다...';
        alert('데이터를 가져오는 동안 오류가 발생했습니다...');
      }
    },
  })
  /*edit button*/
  let edit_button_state = false;
  $('#edit-button').click(() => {
    edit_button_state = !edit_button_state;
    if (edit_button_state) {
      $('.sectionA .container .editor').css('display', 'flex');
      $('.sectionA .container .editor-converse').css('display', 'none');
      $('.sectionA .container .editor-field').css('visibility', 'collapse');
    } else {
      $('.sectionA .container .editor').css('display', 'none');
      $('.sectionA .container .editor-converse').css('display', 'flex');
      $('.sectionA .container .editor-field').css('visibility', 'visible');

    }
    $('#edit-button i').toggleClass('fa-minus')
    $('#edit-button i').toggleClass('fa-plus')
  });
  /*add-button => add field at table*/
  let add_num = 0;
  $('#add-button').click(() => {
    if ($(`#name${add_num - 1}`).val() != '' && $(`#nfcid${add_num - 1}`).val() != '' && !edit_button_state) {
      let table = document.getElementById('user-table');
      let row = table.insertRow(2 + add_num);
      row.className = 'editor-field';
      let cell0 = row.insertCell(-1);
      let cell1 = row.insertCell(-1);
      let cell2 = row.insertCell(-1);
      let cell3 = row.insertCell(-1);
      cell0.innerHTML = `<input type='text' class='id_field' id='name${add_num}' placeholder="학번/아이디">`;
      cell1.innerHTML = `<input type='text' class='name_field' id='name${add_num}' placeholder="이름">`;
      cell2.innerHTML = `<input type='text' class='nfcid_field' id='nfcid${add_num}' placeholder="NFC">`;
      cell3.innerHTML = `<input type='text' class='belong_field' id='belong${add_num}'placeholder="소속">`;
      ++add_num;
    }
  });
  /*save-button*/
  $('#save-button').click(() => {
    let ids = $('.id_field');
    let names = $('.name_field');
    let nfcids = $('.nfcid_field');
    let belongs = $('.belong_field');
    let target = [];
    for (let i = 0; i < add_num; ++i) {
      if (names[i].value != '' && names[i].value != '') {
        target.push({ 'id': ids[i].value, 'name': names[i].value, 'nfcid': nfcids[i].value, 'belong': belongs[i].value })
      }
    }
    if (target.length == 0) {
      return;
    }
    target = { 'target': target } //convert array to object
    $.ajax({
      type: 'post',
      url: '/rest/user',
      contentType: 'application/json',
      data: JSON.stringify(target),
      dataType: 'json',
      success: (result) => {
        if (result.result) {
          alert('성공적으로 추가했습니다.');
          location.reload();
        }
        else {
          // label.innerHTML = '추가 중 오류가 발생했습니다.';
          alert('추가 중 오류가 발생했습니다.');
        }
      }
    });
  });
  /*delete-button*/
  $('#delete-button').click(() => {
    let checkbox_list = $('.delete-checkbox')
    let target = []
    for (let i = 0; i < checkbox_list.length; ++i) {
      ;
      if (checkbox_list[i].checked) {
        target.push(checkbox_list[i].id)
      }
    }
    if (target.length == 0) {
      return;
    }
    target = { 'target': target } //convert array to object
    $.ajax({
      type: 'delete',
      url: '/rest/user',
      contentType: 'application/json',
      data: JSON.stringify(target),
      dataType: 'json',
      success: (result) => {
        if (result.result) {
          alert('성공적으로 삭제했습니다.');
          location.reload();
        }
        else {
          // label.innerHTML = '삭제 중 오류가 발생했습니다.';
          alert('삭제 중 오류가 발생했습니다.');
        }
      }
    });
  });
</script>
</body>

</html>