<%-include('./partials/header.ejs')%>
    <section class="sectionA">
      <div class="container">
        <div class="small-container">
          <h3 id="sub-title"><i class="fas fa-temperature-high"></i> &nbsp체온데이터</h3>
        </div>
        <table id="user-temp-table">
        </table>
      </div>
    </section>
<%-include('./partials/tail.ejs')%>
<script>

    let date = new Date();
    let header_list = ["학번/아이디","이름", "소속"];
    let date_list = [];
    let temp_data;
    let table = document.getElementById('user-temp-table');

    /*get date list*/
    for(let i=0;i<7;++i){
      let target_date = getFormatDate(date);
      date_list.unshift(target_date);
      date.setDate(date.getDate()-1);
    }

    /*set header list to set th*/
    header_list = [...header_list, ...date_list];
    
    /*insert row to set th*/
    let row = table.insertRow(-1);
    header_list.forEach(element=>{
      let headerCell = document.createElement("th");
      if(element == "학번/아이디" || element == "이름" || element == "소속"){
        headerCell.className = "th-long-width";
      }
      headerCell.innerHTML = element;
      row.appendChild(headerCell);
    })

    /*get data*/
    $.ajax({
        url:'/rest/userInfo',
        type: 'GET',
        dataType: 'json',
        success: (result)=>{
            if(result.result){
                temp_data = result.content;
                temp_data.forEach(element =>{
                  let user_flag = false;
                  let row = table.insertRow(-1);

                  let id_cell = row.insertCell(-1);
                  id_cell.innerHTML = element['id'];

                  let name_cell = row.insertCell(-1);
                  name_cell.innerHTML = element['NAME'];

                  let belong_cell = row.insertCell(-1);
                  belong_cell.innerHTML = element['belong'];

                  date_list.forEach(target_date=>{
                    let date_cell = row.insertCell(-1);
                    let temp = parseFloat(element['t_'+target_date]);
                    if(!temp){
                      temp = '-';
                    }
                    else if(temp >= 37.5){
                      user_flag = true;
                      date_cell.className = "high-temp";
                    }
                    date_cell.innerHTML = temp;
                  })
                  if(user_flag){
                    name_cell.className = "high-temp";
                  }
                })
            }else{
                alert('데이터를 가져오는 동안 오류가 발생했습니다...');
            }
        },
    })
</script>
</body>
</html>