:root{
  --main-color : rgb(54, 81, 235);
}

body{
  margin : 0;
}

a{
  text-decoration: none;
  display: inline-block;
}

button{
  background: none;
  border: none;
}
button:hover{
  cursor: pointer;
}

li{
  list-style: none;
}
/*header*/
#title{
  color : var(--main-color);
  font-family: 'Baloo Da 2', cursive;
  font-size : 25px;
}
header{
  max-height: 10vh;
  border-bottom: 1px solid blue;
  padding: 0.5em 1em;
  font-weight: bold;
}
header .container{
  max-width: 1000px;
  margin-left : auto;
  margin-right : auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .menu-bar button{
  color: var(--main-color);
  font-size: 25px;
}
header .menu-bar button:hover{
  cursor: pointer;
}

/*nav menu*/
.menu-buttons{
  position: fixed;
  right: 0;
  width: 50vw;
  height: 90vh;
  border : 1px solid red;
  display: none;
  background: white;
  padding: 0;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
}

.menu-buttons ul{
  margin: 0;
  padding: 0;
  width: 100%;
}

.menu-buttons li{
  font-size: 17px;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: bold;
  line-height: 2em;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid blue;
}

.menu-buttons a{
  color: var(--main-color);
}

/*secion A*/
.sectionA{
  margin-top: 20px;
  min-height: 90vh;
  font-family: 'Nanum Gothic', sans-serif;
  line-height: 1.5rem;
}

.sectionA .container{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sectionA .container .editor{
  align-items: center;
  justify-content: center;
  display: none;
}

.sectionA .container .delete-checkbox{
  width: 20px;
  height: 20px;
}

.sectionA .container #delete-button{
  margin-top: 10px;
  background: var(--main-color);
  font-size: 15px;
  color: white;
  width:100px;
  line-height: 2em;
}

.sectionA .container #add-button{
  margin-top: 10px;
  font-size: 20px;
}
/*sectionA .small-container*/
.sectionA .container .small-container{
  display: flex;
  max-width: inherit;
  width: 80vw;
  flex-direction: row;
  justify-content: space-between;
}
.sectionA .container .small-container #sub-title{
  font-size: inherit;
}
.sectionA .container .small-container #edit-button{
  font-size: 25px;
}


#user-table{
  font-size: 15px;
  width: 100%;
  text-align: center;
  border: 1px solid var(--main-color);
}
#user-table th{
  background-color: var(--main-color);
  color:white;
}
/*section-status*/
.section-status{
  border-radius: 10px;
  width: 300px;
  height: 100px;
  position: fixed;
  right:0;
  bottom:0;
  background: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

#status-label{
  font-family: 'Nanum Gothic', sans-serif;
  color: white;
}

@media(max-width:768px){
  .section-status{
    width: 50vw;
  }
  .sectionA .container{
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
  #title{
    font-size:20px;
  }
  #user-table{
    font-size: 12px;
  }
  .sectionA .container .small-container #edit-button{
    font-size: 20px;
  }
}